*{
    font-family: "Plus Jakarta Sans", serif;
    
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important
}

.navbar{
    
    background-color: red !important;
}

.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fefefefe;
    padding: 2px 0;
    justify-content: center;
    align-items: center;
    line-height: 2.5rem;
}
.f-social i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.f-terms a {
    text-decoration: none;
    margin-right: 0.3rem;
    color: #222222;
}

.f-terms a:hover{
    text-decoration: underline;
}

.row-f{
    padding:2rem 0;
 text-decoration: none;
    margin-bottom: 2rem !important;
    
}
.card-listing{
    border: none !important;
}
.card img{
    
    height: 200px;
    width: 300px;
}
.row a{
    text-decoration: none;
}
.card-h {
    opacity: 1 !important
}

.card-h:hover{
    
    opacity: 0.9 !important;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1;
}

.show-card img {
    width:36rem;
    height: 20rem;
    object-fit: cover;
}

.show-title {
    font-size: 1.5rem;
}

.show_btn{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}