
<% layout('layout/boilerplate') -%>
<body>
   <h3>All Listing</h3>
   <!-- <form method="get" action="/listing/new">
    <button>create New Listing</button>
   </form> -->
   <br>
    <br>
   <ul>
    <% for(let listing of allListing){ %>

      <a href="/listing/<%= listing._id  %>"> <li> <%= listing.title %> </li> </a>

   <% } %>
   </ul>
</body>
